* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f4f6f9;
}

/* HEADER */
.header {
  width: 100%;
  background: #fff;
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

.header .left {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 18px;
}

/* Logo ảnh */
.logo {
  display: flex;
  align-items: center;
  gap: 10px; /* khoảng cách giữa ảnh và text */
  font-size: 22px;
  font-weight: bold;
}

/* Nếu có thẻ <img> trong .logo */
.logo img {
  width: 40px; /* chiều rộng logo */
  height: 40px; /* chiều cao logo */
  object-fit: contain; /* giữ tỉ lệ hình */
  border-radius: 5px; /* bo góc nếu muốn */
}

.menu-icon {
  cursor: pointer;
}

.search-box {
  position: relative;
  width: 350px;
}

.search-box input {
  width: 100%;
  padding: 8px 40px 8px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-box i {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #555;
}

.header .right {
  display: flex;
  align-items: center;
  gap: 25px;
}

.bell {
  font-size: 20px;
  cursor: pointer;
}

.admin-user {
  font-weight: 600;
}

/* LAYOUT */
.main-layout {
  display: flex;
  width: 100%;
}

/* CONTENT */
.content {
  padding: 25px;
  width: 100%;
}

/* SIDEBAR */
.sidebar {
  width: 230px;
  background: #fff;
  height: calc(100vh - 70px);
  border-right: 1px solid #ddd;
  padding: 20px;
}

.sidebar ul li {
  list-style: none;
  padding: 12px 5px;
  cursor: pointer;
  font-weight: 500;
  border-radius: 5px;
}

.sidebar ul li:hover,
.sidebar ul li.active {
  background: #1a73e8;
  color: white;
}
