<header class="header">
  <div class="left">
    <div class="logo">
      <a href="/screen/admin/adminhome.html"
        ><img src="/image/logo.png" alt="logo"
      /></a>
    </div>
    <div class="menu-icon"><i class="fa-solid fa-bars"></i> Menu</div>
  </div>

  <div class="search-box">
    <input type="text" placeholder="Tìm kiếm..." />
    <i class="fa-solid fa-magnifying-glass"></i>
  </div>

  <div class="right">
    <i class="fa-regular fa-bell bell"></i>
    <div class="admin-user">Admin User</div>
  </div>
</header>
