<aside class="sidebar">
  <ul>
    <li data-page="../admin/adminhome.html">Dashboard</li>
    <li data-page="../admin/carmanagement.html">Cars</li>
    <li data-page="../admin/commentmanagement.html">Comments</li>
    <li data-page="../admin/ordermanagement.html">Orders</li>
    <li data-page="../admin/usermanagement.html">Members</li>
    <li data-page="../admin/newsmanagement.html">News</li>
    <li data-page="../admin/reportmanagement.html">Reports</li>
    <li data-page="../admin/setting.html">Settings</li>
    <li data-page="../guest/guest.html">Logout</li>
  </ul>
</aside>
