

/* 4 CARDS */
.card-row {
  display: flex;
  gap: 20px;
  margin-bottom: 25px;
}

.card {
  background: white;
  flex: 1;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.card h4 {
  margin-bottom: 10px;
}

.card p {
  font-size: 26px;
  font-weight: bold;
}

/* CHART + ACTIVITIES */
.chart-activities {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.chart-box,
.activities-box {
  background: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
}

.activities-box li {
  margin-left: 20px; /* đẩy chữ sang phải thêm */
}

.chart-box {
  flex: 2;
}

.activities-box {
  flex: 1;
}

.activities-box ul {
  margin-top: 15px;
}

.activities-box li {
  margin-bottom: 10px;
}

/* Fake Chart */
.fake-chart {
  background: #eef3ff;
  height: 200px;
  margin-top: 15px;
  border-radius: 8px;
  position: relative;
}

.fake-chart .line {
  position: absolute;
  width: 80%;
  height: 3px;
  background: #1a73e8;
  top: 50%;
  left: 10%;
}

/* BOX WRAPPER */
.table-box {
  background: white;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  margin-top: 25px;
}

/* TABLE */
.data-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
  font-size: 15px;
}

.data-table th {
  background: #f1f3f6;
  padding: 12px;
  text-align: left;
  font-weight: 600;
  border-bottom: 2px solid #ddd;
}

.data-table td {
  padding: 10px 12px;
  border-bottom: 1px solid #eee;
}

/* STATUS COLORS */
.data-table .pending {
  color: #d9534f;
  font-weight: bold;
}

.data-table .done,
.data-table .active {
  color: #28a745;
  font-weight: bold;
}

/* Hover */
.data-table tbody tr:hover {
  background: #f9fafc;
}
